.wrapper {
    background-image: url(../img/bg.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1140px;
    height: 750px;
    &-navbar {
        width: 100%;
        height: 50px;
        margin-bottom: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        width: 100%;
        height: 350px;
        margin-bottom: 75px;
    }
    &-position {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-card {
        height: 200px;
        width: 265px;
        &-img {
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-heading {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
        }
        &-text {
            width: 100%;
            height: 60px;
            background-color: #fff;
        }   
    }
}

//buttons 

.modal-send {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    color: #ffffff;
    transition: 0.2s;
    &:hover {
        background-color: $blue-dark;
    }
    &:focus {
        outline: none;
    }
}
